

<div class="container">
  <!-- <div class="row">
   
    <div class="col-sm-3">
      <app-left [subjectChild]="mytitle" (newItemEvent)="receivedDataFromChild($event)"></app-left>
    </div>
    <div class="col-sm-6">
      <app-middle [subject]="mytitle"></app-middle>
    </div>
    <div class="col-sm-3">
      <app-right></app-right>
    </div>

  </div> -->

  <a [routerLink]="['/home']">Link this to Home Component</a>
  <a [routerLink]="['/about']">Link this to About Component</a>
  

  <!-- UpperCase Pipe:
  <br />
  {{'hihello' | uppercase}}
  <br />
  {{'HIIIII' | lowercase}}
  <br />
  {{'hi hello' | titlecase}}
  <br />
  {{10 | currency}}
  <br />
  {{10.999 | percent}}
  <br />
  {{'hi hello' | slice: 0:4}}
  <br />
  Today from Date Object : {{today | date | uppercase }}

  <br >
  <div>
    Custome Pipe SQRT:
    Value for 49 : {{238 | sqrt}}
  </div>
  <div *ngFor="let obj of subjectParent; index as i">
    {{i}} - {{obj.name | shorten:13}}
  </div>
</div> -->

<div>
  {{receivedData}}
</div>

<router-outlet></router-outlet>