<h3>Structural Directives - It will change the structure of the DOM</h3>
<div *ngIf="books; then booksAvailable; else noBooksAvailable">
    Books Variable exists
</div>

<ng-template #booksAvailable>
    <div *ngFor="let obj of books; index as i">
        <div [ngSwitch]="obj.bookStatus">

            <div [ngClass]="{'avlStyle': obj.bookStatus == 'Available', 'navlStyle': obj.bookStatus == 'Not Available'}">
                {{obj.bookName}}
            </div>
            
            <div *ngSwitchDefault>
                Default - {{obj.bookName}}
            </div>
        </div>
        
        
    </div>
   
</ng-template>

<ng-template #noBooksAvailable>
    Books Variable does not exists
</ng-template>
    
    
   





